@import "../../variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 16px;

  &__logo {
    font-weight: bold;
    font-size: 24px;
  }

  > ul {
    list-style-type: none;
    height: 40px;
    display: flex;
    align-items: center;
  }

  &__navigation {
    > a:not(:first-child) {
      display: inline-block;
      padding-left: 32px;
    }
  }

  &__social {
    gap: 16px;

    > li {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li > a {
      display: inline-block;
    }

    &-link {
      &--youtube {
        color: $red-light-color;
        width: 24px;
        height: 21px;
      }

      &--github {
        width: 24px;
        height: 26px;
      }
    }
  }

  &__button-free-guide {
    padding: 8px 16px;
    height: 40px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 8px;
    background-image: linear-gradient(to right, $blue-light-color 0%, $green-hard-color 51%, $green-hard-color 100%);
    background-size: 200% auto;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      background-position: right center;
      text-decoration: none;
    }
  }
}
